$productListBack:
   #FFF6A0,
   #ABFF96,
   #FFACA0,
   #96ADFF,
   #6B60EA,
   #9542BC,
   #FFA0DF,
   #FFDB98,
   #FFF6A3,
   #ABFF99,
   #FDC6A8,
   #ABFF95,
   #FFACA9,
   #96ADFD,
   #6B60EB,
   #9542BA,
   #FFA0DA,
   #FFDB97,
   #FFF6A1,
   #ABFF95,
;

$productListDarkBack:
  #00095f,
  #540069,
  #00535f,
  #695200,
  #949f15,
  #6abd43,
  #FFA0DF,
  #FFDB98,
  #FFF6A3,
  #ABFF99,
  #FDC6A8,
  #ABFF95,
  #FFACA9,
  #96ADFD,
  #6B60EB,
  #9542BA,
  #FFA0DA,
  #FFDB97,
  #FFF6A1,
  #ABFF95,
;

$font-family: 'Helvetica'


