footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 62px;
  background: #65874D;
  flex: none;
  order: 0;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px;
  span {
    color: #19232E;
  }
}

.footer-text {
  text-align: right;
  display: block;
}
