<header>
  <div class="header-bar-section"></div>
  <nav>
    <section class="nav-section">
      <div class="left-nav-section">
        <div class="logo">
          <img src="data:image/png;base64,{{logoUrl}}" *ngIf="logoUrl">
        </div>
        <span class="business-name">
            <p>{{profileDetails.businessName}}</p>
            <p>menu</p>
        </span>
      </div>
      <div class="dark-mode-circle" (click)="darkMode()">
        <div class="semi-circle-mode"></div>
      </div>
    </section>
  </nav>
</header>
